<section id="sectionContact">
  <div>
    <h2>Entrar em contato</h2>
    <p>
      Caso você tenha alguma dúvida, sugestão, feedback ou queira
      fazer uma oferta conosco, essa é a seção adequada para fazê-lo.
    </p>
    <form>
      <span class="input-group">
        <input id="name" name="name" type="text" maxlength="80" placeholder=" "/>
        <label for="name">Nome <b>*</b></label>
      </span>
      <span class="input-group">
        <input id="email" name="email" type="email" maxlength="80" placeholder=" "/>
        <label for="email">Email <b>*</b></label>
      </span>
      <span class="input-group">
        <input id="cellphone" name="cellphone" type="text" maxlength="20" placeholder=" "/>
        <label for="cellphone">Telefone <b>*</b></label>
      </span>
      <span class="input-group">
        <select name="select">
          <option>Qual o assunto do contato?</option>
          <option value="budget">Orçamento</option>
          <option value="feedback">Feedback</option>
          <option value="other">Outro</option>
        </select>
      </span>
      <button type="submit">ENVIAR</button>
    </form>
    <div class="contact-method">
      <span>phone</span>
      <p>
        TELEFONE
        <b>(11) 99999-9999</b>
      </p>
    </div>
    <div class="contact-method">
      <span>alternate_email</span>
      <p>
        EMAIL
        <b>exemplo&#64;gmail.com</b>
      </p>
    </div>
  </div>
  <figure>
    <img src="assets/images/maps.png" alt="foto do local" draggable="false">
  </figure>
</section>
