<section id="sectionVenues" data-section="venues">
  <span>SPOILER</span>
  <h2>Veja um pouco sobre nossas residências de luxos:</h2>
  <nav>
    <button>arrow_back</button>
    <button>arrow_forward</button>
    <ul>
      <li>
        <img src="assets/images/1.png" alt="Espaço do residencial" draggable="false">
      </li>
      <li>
        <img src="assets/images/2.png" alt="Espaço do residencial" draggable="false">
      </li>
      <li>
        <img src="assets/images/3.png" alt="Espaço do residencial" draggable="false">
      </li>
      <li>
        <img src="assets/images/4.png" alt="Espaço do residencial" draggable="false">
      </li>
    </ul>
    <div>
      <input type="radio" name="venuesTab" id="venuesTab1" checked>
      <input type="radio" name="venuesTab" id="venuesTab2">
      <input type="radio" name="venuesTab" id="venuesTab3">
      <input type="radio" name="venuesTab" id="venuesTab4">
      <input type="radio" name="venuesTab" id="venuesTab5">
      <input type="radio" name="venuesTab" id="venuesTab6">
      <input type="radio" name="venuesTab" id="venuesTab7">
    </div>
  </nav>
</section>
