<section id="sectionTestimonials" data-section="testimonials">
  <div class="container-introduction">
    <h2>Depoimentos</h2>
    <p>
      Nossos clientes falam por nós! Confira suas experiências e depoimentos
      que destacam a qualidade e o sucesso de nossos serviços.
    </p>
  </div>
  <div class="container-buttons">
    <button>arrow_back</button>
    <button>arrow_forward</button>
  </div>
  <div class="container-testimonials">
    <article>
      <p>
        “Morar neste condomínio é uma experiência incrível.
        A equipe é sempre prestativa, as áreas comuns são bem cuidadas, e a sensação de segurança é primordial.
        Estamos felizes por fazer parte dessa comunidade acolhedora e organizada.”
      </p>
      <div class="rating">
        <span>star</span>
        <span>star</span>
        <span>star</span>
        <span>star</span>
        <span>star</span>
      </div>
      <div class="author">
        <b>Carlos Santos</b>
        <span>Ex-funcionário</span>
      </div>
    </article>
    <article>
      <p>
        “Morar neste condomínio é uma experiência incrível.
        A equipe é sempre prestativa, as áreas comuns são bem cuidadas, e a sensação de segurança é primordial.
        Estamos felizes por fazer parte dessa comunidade acolhedora e organizada.”
      </p>
      <div class="rating">
        <span>star</span>
        <span>star</span>
        <span>star</span>
        <span>star</span>
        <span>star</span>
      </div>
      <div class="author">
        <b>Carlos Santos</b>
        <span>Ex-funcionário</span>
      </div>
    </article>
    <article>
      <p>
        “Morar neste condomínio é uma experiência incrível.
        A equipe é sempre prestativa, as áreas comuns são bem cuidadas, e a sensação de segurança é primordial.
        Estamos felizes por fazer parte dessa comunidade acolhedora e organizada.”
      </p>
      <div class="rating">
        <span>star</span>
        <span>star</span>
        <span>star</span>
        <span>star</span>
        <span>star</span>
      </div>
      <div class="author">
        <b>Carlos Santos</b>
        <span>Ex-funcionário</span>
      </div>
    </article>
  </div>
</section>
