<section id="sectionWeAre">
  <div>
    <h1>Sua vida brilha<br>mais <strong>aqui</strong>!</h1>
    <p>Um condomínio cuidadosamente projetado e pensado para seu o ambiente perfeito para sua família.
      Cadastre-se para receber uma oferta especial.</p>
    <button class="primary-button">Quero receber uma oferta especial</button>
  </div>
  <figure>
    <img src="/assets/images/banner.png" alt="Banner da imagem" draggable="false">
  </figure>
</section>
<section id="sectionWeAreMore" data-section="weAre">
  <div>
    <button class="primary-button">Conheça mais sobre nós</button>
    <h2>O melhor condomínio para viver bem fica aqui.</h2>
    <p>No Residencial você realiza o sonho de morar em São Paulo,
      na segurança e conforto de um condomínio fechado,
      com lazer completo. Detalhes cuidadosamente
      projetados para trazer conforto e funcionalidade.</p>
    <p>Clube com piscina, guarita de segurança, áreas de lazer equipadas e decoradas.
      Além de todas as vantagens do RESIDENCIAL,
      você ainda pode contar com os benefícios de Viver Bem.</p>
  </div>
  <figure>
    <img src="/assets/images/4.png" alt="Area com piscina">
  </figure>
</section>
