<section id="sectionDifferential">
  <span>Seu novo espaço</span>
  <h2>Um local que realmente se importa com você!</h2>
  <nav>
    <ul>
      <li>
        <span>nature_people</span>
        <p>Contato com a natureza</p>
      </li>
      <li>
        <span>drive_file_rename_outline</span>
        <p>Ambientes planejados</p>
      </li>
      <li>
        <span>house</span>
        <p>Experiência completa</p>
      </li>
      <li>
        <span>verified_user</span>
        <p>Totalmente seguro</p>
      </li>
    </ul>
  </nav>
</section>
