@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('./assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('./assets/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('./assets/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('assets/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/icone-material-icons.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: #FF7E1E;
  --green: #0E3E29;
  --white: #FFFFFF;
  --text-color-green: #052014;
  --text-color-light: #F5F5F5;
  --border-color: #EAEAEA;
  --content-background-light: #F7F7F7;
  --radius: .4rem;
  /* fonts */
  --font-inter: 'Inter';
  --font-space-grotesk: 'Space Grotesk';
  --font-icon: 'Material Icons';
}

html {
  font-size: 10px;
}

body {
  font: 1.6rem var(--font-inter);
}

i {
  font-family: var(--font-icon);
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: lowercase;
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.primary-button {
  background-color: var(--orange);
  color: var(--text-color-green);
  padding-inline: 1rem;
  border-radius: var(--radius);
  font-family: var(--font-inter);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: unser;
}

ul, ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-space-grotesk);
}

h2 {
  font-weight: 500;
  font-size: 4rem;
}

/* tablets and small desktop */
@media screen and (min-width: 765px) and (max-width: 1199px) {
}

/* desktop */
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 4.8rem;
  }
}
