footer {
  height: 7dvh;
  background-color: var(--green);
  display: flex;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font: 1.4rem var(--font-space-grotesk);
}

@media screen and (min-width: 1200px) {
  footer {
    font-size: 2rem;
  }
}
