<header>
  <div id="brandLogo">
    <i>home</i>
    <span>Residencial</span>
  </div>
  <nav class="container-nav">
    <button id="toggleMenu" (click)="toggleMenu($event)">
      <i>menu</i>
    </button>
    @if (this.isVisibleMenu) {
      <menu [className]="menuClass">
        <li class="active" (click)="onClickMenuItem($event)" data-navigate="weAre">Quem somos</li>
        <li (click)="onClickMenuItem($event)" data-navigate="differential">Diferenciais</li>
        <li (click)="onClickMenuItem($event)" data-navigate="venues">Espaços</li>
        <li (click)="onClickMenuItem($event)" data-navigate="testimonials">Clientes</li>
        <li (click)="onClickMenuItem($event)" data-navigate="contact">Localização</li>
      </menu>
    }
    <button id="getOffer" class="primary-button">Quero uma oferta</button>
  </nav>
</header>
