header {
  background-color: var(--green);
  position: relative;
  display: flex;
  align-items: center;
  min-height: 7dvh;
  padding-inline: 2.4rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, .5);
  position: sticky;
  top: 0;
  z-index: 5;
}

header #brandLogo {
  display: flex;
  align-items: center;
  gap: .8rem;
  margin-right: auto;
  user-select: none;
}

header #brandLogo > i {
  background: var(--orange);
  color: var(--white);
  border-radius: var(--radius);
  padding: 0.4rem;
}

header #brandLogo > span {
  font: 1.8rem var(--font-space-grotesk);
  color: var(--white);
  border-radius: var(--radius);
  font-weight: 500;
}

.container-nav > :where(menu, #getOffer) {
  display: none;
}

menu.active {
  display: flex !important;
  flex-direction: column;
  gap: .4rem;
  position: absolute;
  right: 2.4rem;
  top: calc(100% + .8rem);
  background: var(--orange);
  padding: .4em;
  border-radius: var(--radius);
  box-shadow: 0 0 0 .4rem #ff994c, 0 0 .12rem rgba(0, 0, 0, 1);
}

menu.active::before {
  content: "";
  position: absolute;
  top: -1.2rem;
  right: .8rem;
  width: 0;
  height: 0;
  border: solid .8rem transparent;
  border-left-color: #ff994c;
  border-top-color: #ff994c;
  rotate: 45deg;
  z-index: 1;
}

menu.active > li {
  padding: .8rem 1.6rem;
  background: hsl(25.6deg 100% 65%);
  border-radius: var(--radius);
  color: var(--text-color-green);
  cursor: pointer;
  font-weight: 500;
}

menu.active > :where(li:hover, li.active) {
  background: var(--green);
  color: var(--orange);
}

#toggleMenu {
  background: var(--orange);
  border-radius: var(--radius);
  width: 3.2rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toggleMenu > i {
  color: var(--texto-color-green);
  pointer-events: none;
}

#getOffer{
  background-color: var(--orange);
  color: var(--text-color-green);
  border-radius: var(--radius);
  height: 4rem;
}

/* tablets and small desktop */
@media screen and (min-width: 765px) and (max-width: 1199px) {
  header {
    padding-inline: 3.2rem;
    height: 8dvh;
  }

  #toggleMenu {
    display: none;
  }

  #getOffer {
    height: 3.7rem;
    padding-inline: 1.6rem;
    display: block;
    font-size: 1.4rem;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  header {
    height: 8.25dvh;
    padding-inline: 10dvw;
  }

  #brandLogo > span {
    font-size: 1.8rem !important;
  }

  #toggleMenu {
    display: none;
  }

  .container-nav,
  .container-nav > :where(menu, #getOffer) {
    display: flex;
    align-items: center;
  }

  .container-nav {
    gap: 4rem;
  }

  .container-nav > menu {
    gap: 2rem;
  }

  .container-nav > menu > li {
    color: var(--white);
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    user-select: none;
    font-weight: 500;
    font-size: 1.6rem;
  }

  .container-nav > menu > li.active {
    color: var(--orange);
  }

  .container-nav > menu > li:not(.active):hover {
    color: var(--border-color);
  }

  .container-nav > menu > li::after{
    content: "";
    display: block;
    height: .2rem;
    width: 0;
    bottom: -.4rem;
    position: absolute;
    background-color: transparent;
    opacity: 0;
    transition: .25s ease-in-out;
  }

  .container-nav > menu > li:not(.active):hover::after{
    opacity: 1;
    width: 100%;
    background-color: var(--orange);
  }

  .container-nav > menu > li:active {
    scale: .95;
  }

  #getOffer {
    font-size: 1.6rem;
    padding: 1.6rem 2.4rem;
  }
}
